.footer {
    background-color: rgb(228, 195, 151);
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: rgb(0, 0, 0);
    text-align: center;
}

p {
    padding: 15px;
    font-weight: bold;
}

#icon {
    padding-top: 25px;
    width: 45px;
    height: 45px;
}