<mat-toolbar class="toolbar">
    <span>GymApp</span>
    <div class="toolbar-pages">
        <button mat-raised-button [routerLink]="['/home']">Home</button>

        <button mat-raised-button [routerLink]="['/my-trainings']">My Training</button>

        <button mat-raised-button [routerLink]="['/trainings']">Trainings</button>

        <button mat-raised-button [routerLink]="['/users']">Users</button>

        <button mat-raised-button [routerLink]="['/contact']">Contact</button>

        <button mat-raised-button [routerLink]="['/about']">About Us</button>

        <button mat-raised-button [routerLink]="['/login']">Login</button>
    </div>
</mat-toolbar>