.contact {
    margin: 5%;
    padding: 4%;
    border: solid;
    border-radius: 30px;
    text-align: center;
    background-color: rgb(228, 195, 151);
}

.email .mat-form-field+.mat-form-field {
    margin-left: 8px;
}

.contact-button{
    text-align: left;
    display: flex;
    justify-content: center;
}