<!-- Coaches -->
<div class="flex-container">
  <div class="flex-child c1">
    <img src="../../assets/images/coaches/coach3.jpg" class="coach1" style="width:50%">
    <div class="coach-info">
      <h1>Matt Jackson</h1>
      <p>
        With a life-long insatiable pursuit of knowledge & strength, Matt founded GymApp in 2016. That same pursuit
        led Matt to achieving his goals of an elite-level status powerlifter, professional strongman, founder/owner of
        the
        Powerlifting Gym of the Year in 2013 & 2014, long-time respected coach, and now founder/ CEO of GymApp.
      </p>
    </div>
    <div class="coaching-button">
      <button mat-raised-button color="primary">Get online coaching</button>
    </div>
  </div>

  <div class="flex-child c1">
    <img src="../../assets/images/coaches/coach4.jpg" class="coach1" style="width:50%">
    <div class="coach-info">
      <h1>Josh Armstrong</h1>
      <p>
        Josh is our Chief Information Officer. He has worked in marketing and communications since 2007, including
        in-house corporate marketing and running his own agency. After having GymApp as a client and supporting
        the team externally since its inception, Josh officially joined the Barbell Logic leadership team in May of
        2020.<br><br>

        In addition to his work in marketing, Josh serves as Executive Director of Go Shout Love, a nonprofit
        organization that raises funds for families with children on rare medical journeys.
      </p>
    </div>
    <div class="coaching-button">
      <button mat-raised-button color="primary">Get online coaching</button>
    </div>
  </div>

  <div class="flex-child c1">
    <img src="../../assets/images/coaches/coach5.jpg" class="coach1" style="width:50%">
    <div class="coach-info">
      <h1>Niki Gotcher</h1>
      <p>
        She’s in this for the long haul. Are you? Whether it be the routine, a competitive spirit, because you know
        it’s
        good for you even though it’s hard, for the love of the pump, for the long term pay off, or because you are
        addicted to feeling physically capable and strong, Niki will always be on your side, fighting for your
        strength
        and the joy of training.
      </p>
    </div>
    <div class="coaching-button">
      <button mat-raised-button color="primary">Get online coaching</button>
    </div>
  </div>

</div>